@page
@model TodoRazorApp.Pages.Todos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<a asp-page="Create">
    <p class="btn btn-primary">新規タスク</p>
</a>

<form method="get">
    <p>
        <input type="text" /><input type="submit" value="検索" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Todo[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Todo)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <a asp-page-handler="Done" asp-route-id="@item.Id">完了</a> |
                    <a asp-route-id="@item.Id">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                完了済みタスク
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoneTodo[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoneTodo)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <a asp-route-id="@item.Id">戻す</a> |
                    <a asp-route-id="@item.Id">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
